@use "../global/variables.scss" as *;

.TitleParent {
  position: relative;
  bottom: 0;
  width: 90%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin: 0px !important;
  display: flex;
}

.FooterWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto; /* Allow the container to expand with multiple lines of text */
  align-items: center;

  &:hover {
    cursor: text;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: $font-medium;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  input {
    position: absolute;
    top: 100%;
    font-family: $font-medium;
    font-size: 20px;
    border-radius: $container-border-radius;
    border: 1px solid $color-border;
    width: 100%;
    height: 32px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: $focus-border;
    }
  }
}

.TitleWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: auto; /* Allow the container to expand with multiple lines of text */
  align-items: center;

  &:hover {
    cursor: text;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: $font-medium;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  input {
    position: absolute;
    top: 100%;
    font-family: $font-medium;
    font-size: 20px;
    border-radius: $container-border-radius;
    border: 1px solid $color-border;
    width: 100%;
    height: 32px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: $focus-border;
    }
  }
}

.pencil {
  display: inline-block;
  color: $color-icon;
}
.uploadButton {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 12px 18px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  white-space: nowrap;
  color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #817FD5, #6F66C5);

  @media (min-width: 768px) {
    gap: 12px;
    font-size: 18px;
    padding: 12px 18px;
    border-radius: 8px;
  }

  &:hover:not(:disabled) {
    background: linear-gradient(to bottom, #6F66C5, #6055AD);
    cursor: pointer;
  }

  &:disabled {
    color: black;
    background: white;
    cursor: not-allowed;
  }
}

.uploadButton-disabled {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  color: #9CA3AF; // gray-400
  font-family: sans-serif;
  font-weight: normal;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #E5E7EB; // gray-200
  cursor: not-allowed;
}

.discardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  color: $color-primary;
  border-radius: $container-border-radius-small;
  border-style: solid;
  border-width: 1px;
  border-color: $color-primary;
  padding: 4px 48px;
  height: 40px;
  gap: 8px;
  font-size: medium;
  font-family: $font-medium;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-text-primary;
  color: $color-text-contrast;
  border-radius: $container-border-radius;
  padding: 0px 16px;
  height: 40px;
  position: absolute;
  right: 160px;
  gap: 8px;
  font-size: 500;
  font-family: $font-medium;
  top: -6px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.shareIcon {
  width: auto;
  height: auto;
  svg {
    margin-top: 4px;
    width: 16px;
    height: auto;
  }
}
